.body {
    margin: 0;
}

.wrapper {
    background: #000;
    width: 1170px;
    padding: 24px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}


.header {
    background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
    font-size: 16px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;

}


.navigation {
    background: linear-gradient(-90deg, #fcfefe 0%, #a5deff 100%);
    font-size: 16px;
    line-height: 18px;
    border-radius: 24px;
    margin-left: 24px;
    margin-right: 14px;
}

.navigation-ul {
    font-size: 16px;
    padding: 24px;
    margin-left: auto;
    width: max-content;
    list-style: none;

}

.navigation-ul:hover .navigation-list {
    display: block;
    visibility: visible;
}

.navigation-list {
    list-style-type: none;
    visibility: hidden;
    display: none;
    position: absolute;
    padding: 10px;
    margin: 0;
}

.navigation_item {
    display: inline-block;
    margin-left: 30px;
}

.navigation-list-item {
    padding: 2px;
}

.content-article {
    width: 1170px;
    font-size: 16px;
    line-height: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    box-sizing: border-box;
}

.about_items {
    list-style-type: disc;
}


.main-page-text-container {
    background: linear-gradient(90deg, #fcfefe 0%, rgb(251, 255, 221) 100%);
    width: 1170px;
    font-size: 16px;
    line-height: 18px;
    padding: 24px;
    box-sizing: border-box;
}

.blok1 {
    width: 1170px;
    font-size: 16px;
    line-height: 18px;
    padding: 24px;
    box-sizing: border-box;
}


.gallery-part-one {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.gallery-part-two {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.articles {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.introduction-h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
}

.introduction {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.blok2 {
    width: 1170px;
    color: black;
    font-size: 16px;
    line-height: 18px;
    padding: 24px;
    box-sizing: border-box;

}


.blok3 {
    width: 1170px;
    color: black;
    font-size: 16px;
    line-height: 18px;
    padding: 24px;
    box-sizing: border-box;
}

.blok4 {
    width: 1100px;
    color: black;
    font-size: 16px;
    line-height: 18px;
    margin: 24px;
    box-sizing: border-box;
}

.personal-information {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.course {
    padding: 4px;
    margin-top: 15px;
}

.name {
    padding: 4px;
}

.email {
    padding: 4px;
}

.course-choice {
    padding: 4px;
}

.button-back {
    border-radius: 8px;
    background: cornflowerblue;
    padding: 12px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    margin-left: 24px;
    margin-top: 24px;
}

.button-send {
    border-radius: 8px;
    background: cornflowerblue;
    padding: 12px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    margin-left: 24px;
    margin-top: 24px;
}

.test {
    background: lightblue;
    width: 100%;
    height: 300px;
    font-size: 16px;
    line-height: 18px;
    padding: 24px;
    box-sizing: border-box;
}

.footer {
    background: linear-gradient(180deg, #fcfefe 0%, #a5deff 100%);
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.about_reset {
    font-size: 24px;
    padding: 5px;
    max-width: 1000px;
    text-align: center;
}

.testlevel_normalize {
    font-size: 24px;
}

.important_one {
    background: brown;
    color: white;
}

.important_two {
    background: yellow;
}

.important_three {
    background: chartreuse;
}

.articles_title {
    text-align: center;
    margin: 25px;
}

.articles_title2 {
    margin-top: 100px;
    text-align: center;
}

.article_section1 {
    display: block;
}

.article_section2 {
    display: block;
}

.article_section3 {
    width: 800px;
    height: 200px;
    background: fuchsia;
    border-radius: 40px;
    border: black solid 1px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    line-height: 20px;
}

.article_section3_list {
    text-align: center;
    list-style-type: none;
    padding: 4px;
}

.book1_float {
    float: left;
    margin-right: 30px;
}

.book1_float2 {
    float: right;
    margin-left: 30px;
}

.clearfix {
    clear: both;
}

.book2 {
    margin: 50px;
    border: 30px solid #000000;
    padding: 50px;
    width: 100px;
    box-sizing: border-box;
    overflow: auto;
}

.header_position {
    background: firebrick;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.header_position_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
}

.main_position {
    height: 1600px;
}

.main_position_wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 80px;
}

.main_position_container {
    width: 800px;
    background: green;
}

.footer_position {
    background: darkblue;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    margin-top: 60px;
}

.footer_position_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
}


.sticky {
    position: sticky;
    top: 80px;
    right: 300px;
    width: 280px;
    height: 300px;
    background: blueviolet;
}

.wrapper_position2 {
    background: yellow;
    padding: 20px;
    font-size: 30px;
}

.first_blok {
    background: indigo;
    position: static;
}

.second_blok {
    background: green;
}

.third_blok {
    background: fuchsia;
}

.wrapper_position3 {
    background: chartreuse;
    padding: 20px;
    font-size: 30px;
    margin-top: 100px;
    position: relative;
}

.first_blok3 {
    background: crimson;
    position: absolute;
    top: 0px;
}

.second_blok3 {
    background: cyan;
}

.third_blok3 {
    background: darkolivegreen;
}